@{
}


<form action="~/Weather/WeatherDetail" method="post">
    <div>
        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h1 class="display-4" style="margin: 20px 0px;">WeatherApplication</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 offset-md-3 form-group">
                <label>City: </label>
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 offset-md-3">
            <button type="submit" class="btn btn-primary">Enter</button>
        </div>
    </div>
    </div>
</form>

